# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# intermediate PEST/HSPF/R files
output_compare01.txt
output_compare02.txt
cowcalf01.txt
cowcalf02.txt
cowcalf04.txt
cowcalf05.txt
cowcalf06.txt
cowcalf07.txt
cowcalf08.txt
cowcalf09.txt
cowcalf10.txt
cowcalf11.txt
cowcalf12.txt
cowcalf13.txt
cowcalf14.txt
cowcalf16.txt
cowcalf17.txt
cowcalf18.txt
input_cowcalf01.txt
output_cowcalf01.txt
perlndqin.txt
rchresqin.txt
input_OnSitePets01.txt
OnSitePets01.txt
OnSitePets02.txt
OnSitePets04.txt
OnSitePets05.txt
OnSitePets06.txt
OnSitePets07.txt
OnSitePets08.txt
OnSitePets09.txt
OnSitePets10.txt
OnSitePets11.txt
OnSitePets12.txt
OnSitePets13.txt
OnSitePets14.txt
OnSitePets16.txt
OnSitePets17.txt
OnSitePets18.txt
output_OnSitePets01.txt
input_wildlifeBeaver01.txt
output_wildlifeBeaver01.txt
wildlifeBeaver01.txt
wildlifeBeaver02.txt
wildlifeBeaver04.txt
wildlifeBeaver05.txt
wildlifeBeaver06.txt
wildlifeBeaver07.txt
wildlifeBeaver08.txt
wildlifeBeaver09.txt
wildlifeBeaver10.txt
wildlifeBeaver11.txt
wildlifeBeaver12.txt
wildlifeBeaver13.txt
wildlifeBeaver14.txt
wildlifeBeaver16.txt
wildlifeBeaver17.txt
wildlifeBeaver18.txt
input_wildlifeCoyote01.txt
output_wildlifeCoyote01.txt
wildlifeCoyote01.txt
wildlifeCoyote02.txt
wildlifeCoyote04.txt
wildlifeCoyote05.txt
wildlifeCoyote06.txt
wildlifeCoyote07.txt
wildlifeCoyote08.txt
wildlifeCoyote09.txt
wildlifeCoyote10.txt
wildlifeCoyote11.txt
wildlifeCoyote12.txt
wildlifeCoyote13.txt
wildlifeCoyote14.txt
wildlifeCoyote16.txt
wildlifeCoyote17.txt
wildlifeCoyote18.txt
input_wildlifeDeer01.txt
output_wildlifeDeer01.txt
wildlifeDeer01.txt
wildlifeDeer02.txt
wildlifeDeer04.txt
wildlifeDeer05.txt
wildlifeDeer06.txt
wildlifeDeer07.txt
wildlifeDeer08.txt
wildlifeDeer09.txt
wildlifeDeer10.txt
wildlifeDeer11.txt
wildlifeDeer12.txt
wildlifeDeer13.txt
wildlifeDeer14.txt
wildlifeDeer16.txt
wildlifeDeer17.txt
wildlifeDeer18.txt
input_wildlifeDuck01.txt
output_wildlifeDuck01.txt
wildlifeDuck01.txt
wildlifeDuck02.txt
wildlifeDuck04.txt
wildlifeDuck05.txt
wildlifeDuck06.txt
wildlifeDuck07.txt
wildlifeDuck08.txt
wildlifeDuck09.txt
wildlifeDuck10.txt
wildlifeDuck11.txt
wildlifeDuck12.txt
wildlifeDuck13.txt
wildlifeDuck14.txt
wildlifeDuck16.txt
wildlifeDuck17.txt
wildlifeDuck18.txt
input_wildlifeElk01.txt
output_wildlifeElk01.txt
wildlifeElk01.txt
wildlifeElk02.txt
wildlifeElk04.txt
wildlifeElk05.txt
wildlifeElk06.txt
wildlifeElk07.txt
wildlifeElk08.txt
wildlifeElk09.txt
wildlifeElk10.txt
wildlifeElk11.txt
wildlifeElk12.txt
wildlifeElk13.txt
wildlifeElk14.txt
wildlifeElk16.txt
wildlifeElk17.txt
wildlifeElk18.txt
input_wildlifeGeese01.txt
output_wildlifeGeese01.txt
wildlifeGeese01.txt
wildlifeGeese02.txt
wildlifeGeese04.txt
wildlifeGeese05.txt
wildlifeGeese06.txt
wildlifeGeese07.txt
wildlifeGeese08.txt
wildlifeGeese09.txt
wildlifeGeese10.txt
wildlifeGeese11.txt
wildlifeGeese12.txt
wildlifeGeese13.txt
wildlifeGeese14.txt
wildlifeGeese16.txt
wildlifeGeese17.txt
wildlifeGeese18.txt
input_wildlifeGulls01.txt
output_wildlifeGulls01.txt
wildlifeGulls01.txt
wildlifeGulls02.txt
wildlifeGulls04.txt
wildlifeGulls05.txt
wildlifeGulls06.txt
wildlifeGulls07.txt
wildlifeGulls08.txt
wildlifeGulls09.txt
wildlifeGulls10.txt
wildlifeGulls11.txt
wildlifeGulls12.txt
wildlifeGulls13.txt
wildlifeGulls14.txt
wildlifeGulls16.txt
wildlifeGulls17.txt
wildlifeGulls18.txt
input_wildlifeHerEgr01.txt
output_wildlifeHerEgr01.txt
wildlifeHerEgr01.txt
wildlifeHerEgr02.txt
wildlifeHerEgr04.txt
wildlifeHerEgr05.txt
wildlifeHerEgr06.txt
wildlifeHerEgr07.txt
wildlifeHerEgr08.txt
wildlifeHerEgr09.txt
wildlifeHerEgr10.txt
wildlifeHerEgr11.txt
wildlifeHerEgr12.txt
wildlifeHerEgr13.txt
wildlifeHerEgr14.txt
wildlifeHerEgr16.txt
wildlifeHerEgr17.txt
wildlifeHerEgr18.txt
input_wildlifeOtter01.txt
output_wildlifeOtter01.txt
wildlifeOtter01.txt
wildlifeOtter02.txt
wildlifeOtter04.txt
wildlifeOtter05.txt
wildlifeOtter06.txt
wildlifeOtter07.txt
wildlifeOtter08.txt
wildlifeOtter09.txt
wildlifeOtter10.txt
wildlifeOtter11.txt
wildlifeOtter12.txt
wildlifeOtter13.txt
wildlifeOtter14.txt
wildlifeOtter16.txt
wildlifeOtter17.txt
wildlifeOtter18.txt
input_wildlifeRacoon01.txt
output_wildlifeRacoon01.txt
wildlifeRacoon01.txt
wildlifeRacoon02.txt
wildlifeRacoon04.txt
wildlifeRacoon05.txt
wildlifeRacoon06.txt
wildlifeRacoon07.txt
wildlifeRacoon08.txt
wildlifeRacoon09.txt
wildlifeRacoon10.txt
wildlifeRacoon11.txt
wildlifeRacoon12.txt
wildlifeRacoon13.txt
wildlifeRacoon14.txt
wildlifeRacoon16.txt
wildlifeRacoon17.txt
wildlifeRacoon18.txt

# R and misc files
../R_scripts/junk.out
../R_scripts/junk00.out
../R_scripts/junk01.out
../R_scripts/sub-models/Cow-Calf/Cow-Calf.Rproj
../R_scripts_original/
../output_compare04.txt
../output_compare05.txt
../output_compare06.txt
../output_compare07.txt
../output_compare08.txt
../output_compare09.txt
../output_compare10.txt
../output_compare11.txt
../output_compare12.txt
../output_compare13.txt
../output_compare14.txt
../output_compare16.txt
../output_compare17.txt
../output_compare18.txt
